html, body{
    width: 100%;
    height: 100%;
    padding: 0;
    margin: 0;
}
body {
    background-color: #728a89;
    color: white;
    font-family: "PT Sans", Calibri, Tahoma, sans-serif;
}
h1{
    font-size: 65px;
    margin-top: 0;
}
h2{
    font-size: 45px;
}
p {
    font-size: 24px;
}
.container {
    padding: 50px 5% 140px 5%;
}
blockquote {
    background-color: #5c6663;
}
.highlight{
    padding: 2px 8px;
    color: #444c72;
    background-color: yellow;
}
.img-container{
    display: flex;
    justify-content: center;
    margin: 50px 0;
}
.topics-container{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.topics-container .container-card{
    width: 30%;
    border: 2px solid rgb(18, 18, 48);
    border-radius: 14px;
    min-height: 220px;
}
.topics-container .container-card.active-card{
    box-shadow: 1px 1px 5px 8px rgba(169,202,227,0.53);
    -webkit-box-shadow: 1px 1px 5px 8px rgba(169,202,227,0.53);
    -moz-box-shadow: 1px 1px 5px 8px rgba(169,202,227,0.53);
}
.topics-container .container-card a{
    width: 100%;
    height: 100%;
    text-decoration: none;
}
.topics-container .container-card a .content-holder {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
}
.topics-container .container-card a h3{
    color: white;
    text-align: center;
}
.topics-container .container-card a .topic_image{
    width: 100px;
    height: 100px;
}
.button-prev{
    padding: 12px 24px;
    background-color: #346270;
    border: none;
    color: white;
    border-radius: 20px;
    font-size: 18px;
    cursor: pointer;
    position: fixed;
    top: 10px;
    left: 10px;
}
.button-prev.button-fade {
    opacity: 0.3;
}
.footer{
    width: 100%;
    background-color: #346270;
    position: fixed;
    bottom: 0;
}
.footer .footer-container {
    padding: 10px 5%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.footer .footer-info h3{
    margin: 0;
}
.footer .footer-info p{
    font-size: 12px;
    margin: 0;
}
.footer-info{
    width: 350px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.color-y{
    color: yellow;
    text-decoration: none;
}