html, body{
    width: 100%;
    height: 100%;
    padding: 0;
    margin: 0;
}
body {
    background-color: #006972;
    color: white;
    font-family: "PT Sans", Calibri, Tahoma, sans-serif;
}
.homepage-background{
    width: 100%;
    height: 100%;
    background-image: linear-gradient(to left bottom, #051937, #004d7a, #008793, #00bf72, #a8eb12);
}
h1{
    font-size: 65px;
    margin-top: 0;
}
h2{
    font-size: 45px;
}
p {
    font-size: 24px;
}
.container {
    padding: 50px 5% 140px 5%;
}
blockquote {
    display: flex;
    flex-direction: row-reverse;
    align-items: flex-start;
    justify-content: space-between;
    background-color: #5c6663;
}
.highlight{
    padding: 2px 8px;
    color: #444c72;
    background-color: yellow;
}
.img-container{
    display: flex;
    justify-content: center;
    margin: 50px 0;
}
.topics-container{
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    overflow: scroll;
    overflow-x: hidden;
    max-height: 600px;
    padding-right: 20px;
    border-radius: 8px;
}


::-webkit-scrollbar {
    scrollbar-width: auto;
    scrollbar-color: #051937 rgba(0, 135, 147,0.5);
}
::-webkit-scrollbar {
    width: 12px;
}
::-webkit-scrollbar-track {
    background: rgba(0, 135, 147,0.5);
    border-radius: 8px;
}
::-webkit-scrollbar-thumb {
    background-color: #051937;
    border-radius: 10px;
    border: none;
}

.topics-container .container-card{
    background-color: #008793;
    width: 30%;
    border: 3px solid #051937;
    border-radius: 14px;
    min-height: 220px;
    margin: 25px 0;
}
.topics-container .container-card.active-card{
    box-shadow: 1px 1px 3px 4px rgba(5, 25, 55,0.53);
    -webkit-box-shadow: 1px 1px 3px 4px rgba(5, 25, 55,0.53);
    -moz-box-shadow: 1px 1px 3px 4px rgba(5, 25, 55,0.53);
}
.topics-container .container-card a{
    width: 100%;
    height: 100%;
    text-decoration: none;
}
.topics-container .container-card a .content-holder {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
}
.topics-container .container-card a h3{
    color: white;
    text-align: center;
}
.topics-container .container-card a .topic_image{
    width: 100px;
    height: 100px;
    border-radius: 50%;
}
.button-prev{
    padding: 12px 24px;
    background-color: #008793;
    border: none;
    color: white;
    border-radius: 20px;
    font-size: 18px;
    cursor: pointer;
    position: fixed;
    top: 10px;
    left: 10px;
}
.button-prev.button-fade {
    opacity: 0.3;
}
.footer{
    width: 100%;
    background-color: #008793;
    position: fixed;
    bottom: 0;
}
.footer .footer-container {
    padding: 10px 5%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.footer .footer-info h3{
    margin: 0;
}
.footer .footer-info p{
    font-size: 12px;
    margin: 0;
}
.footer-info{
    width: 350px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.color-y{
    color: yellow;
    text-decoration: none;
}
.footer-fade{
    opacity: 0.3;
}

.clipboard img {
    margin: 8px;
    width: 20px;
    height: 20px;
    background-color: hsl(185, 88%, 83%);
    padding: 2px;
    border-radius: 4px;
    cursor: pointer;
}
.clipboard img.clicked-clip{
    background-color: #5c6663;
}